:root{
  --like-color: rgb(233, 21, 21);
}

body{
  margin: 0px;
}
.nav-bar{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px;
  font-family: monospace;
  font-size: 32px;
  z-index: 100;
  transition: box-shadow 200ms;
}

.home-page-navbar{
  display: grid;
  grid-template-columns: 1fr 50px;
}

.sign-out-button{
  font-size: 28px;
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
}

.sign-out-button:hover{
  color: rgb(228, 228, 228)
}

.sign-out-button:active{
  font-size: 24px;
}

.nav-bar a{
  color: white;
  text-decoration: none;
}

.shadow-y{
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
}
.root{
  display: grid;
  grid-template-rows: 40px 1fr;
  row-gap: 20px;
  position: relative;
  top: 90px;
}
.new-post-container-button{
  width: fit-content;
  margin: auto;
}

.add-new-post{
  border: 2px solid rgb(187, 187, 187);
  font-size: 32px;
  padding: 2px 4px 2px 4px;
  color: rgb(187, 187, 187);
  border-radius: 20px;
  transition: all 200ms;
}
.add-new-post:hover{
  color: rgb(117, 117, 117);
  border: 2px solid rgb(117, 117, 117);
}
.posts-container{
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
  margin-bottom: 100px;
}
.post{
  display: grid;
  grid-template-rows: 24px 400px 30px 40px fit-content;
  row-gap: 10px;
  margin-top: 10px;
}
.grid-3{
  display: grid;
  grid-template-rows: 24px 400px 30px fit-content;
  row-gap: 10px;
  margin-top: 10px;
}
.grid-3-new-comment{
  display: grid;
  grid-template-rows: 24px 400px 30px 40px;
  row-gap: 10px;
  margin-top: 10px;
}
.grid-2{
  display: grid;
  grid-template-rows: 24px 400px 30px;
  row-gap: 10px;
  margin-top: 10px;
}
.post-image{
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}
.like-comment-area{
  display: grid;
  grid-template-columns: 1fr 100px;
}
.likes-comments-counters{
  display: grid;
  grid-template-columns: 24px auto 24px auto 1fr;
  column-gap: 4px;
}

.white{
  color: white;
  z-index: -100;
}

.black{
  color: black;
  z-index: -100;
}

.like-button,
.comment-button{
  font-size: 20px;
  -webkit-text-stroke:2px black;
  transform: scaleX(-1);
  cursor: pointer;
  transition: color 200ms;
  z-index: -100;
  display: inline;
  transition: all 100ms;
}

.red{
  color: var(--like-color);
  -webkit-text-stroke:2px var(--like-color);
  z-index: -100;
}

.resize{
  transform: scale(0, 0);
}

@keyframes resize {
  0%{
    transform: scale(1, 1);
  } 50%{
    transform: scale(0, 0);
  } 100%{
    transform: scale(1, 1);
  }
}

.likes-count,
.comments-count{
  font-size: 16px;
  vertical-align: middle;
  font-family: monospace;
  word-spacing: -5px;
  margin-right: 8px;
  font-weight: 600;
}
.like-button-checkbox,
#comment-button-checkbox{
  display: none;
}
.add-new-comment{
  display: grid;
  grid-template-columns: 330px 50px;
  column-gap: 20px;
}

.new-comment-input{
  font-size: 16px;
  font-family: monospace;
  padding: 8px 8px 4px 8px;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px rgb(204, 204, 204) solid;
  transition: all 200ms;
}
.share-comment-button,
.new-comment-button{
  height: 30px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.share-comment-button{
  margin-top: 10px;
}
.new-comment-input:focus{
  border-bottom: 2px black solid;
}
.comments-container::-webkit-scrollbar{
  display: none;
}
.comments-container{
  max-height: 100px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background-color: rgb(231, 231, 231);
}
.comment{
  font-size: 16px;
  font-family: monospace;
  padding: 8px 8px 8px 8px;
  color: rgb(95, 95, 95);
  word-wrap: break-word;
  font-weight: 600;
  border-bottom: 1px rgb(204, 204, 204) solid;
}
.hidden{
  display: none;
}

.new-post-container{
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 200px;
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 8px;
  width: fit-content;
  margin: auto;
}

#post-image{
  display: none;
}

.img-error{
  font-family: monospace;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
  color: red;
}

.custom-input{
  height: 80px;
}

.upload-text{
  font-family: monospace;
  font-size: 20px;
  margin-left: 5px;
  cursor: pointer;
}

.image-icon{
  font-size: 20px;
  cursor: pointer;
}

.post-button{
  font-family: monospace;
  font-size: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  height: 45px;
}

.post-button:hover{
  background-color: rgb(236, 236, 236);
}

.post-button:active{
  font-size: 16px;
}

.publisher-username{
  font-family: monospace;
  font-size: 20px;
  font-weight: 600;
}

.commenter{
  color: black;
  font-weight: 600;
}

.sign-in-container,
.sign-up-container{
  position: relative;
  width: fit-content;
  margin: auto; 
  display: flex;
  flex-direction: column; 
  gap: 10px
}

.sign-in-container{
  top: 200px;
}

.sign-up-container{
  top: 150px;
}

.sign-in-container h1,
.sign-up-container h1{
  font-family: monospace;
  font-size: 36px;
  margin: 0px;
  padding-bottom: 20px;
}

.sign-in-form,
.sign-up-form{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.username-email-input,
.password-input,
.sign-in-button,
.signup-input,
.sign-up-button{
  font-size: 20px;
  font-family: monospace;
  border-radius: 4px;
}

.username-email-input,
.password-input,
.signup-input{
  padding: 8px;
  border: none;
  outline: none;
  background-color: rgb(233, 233, 233);
}

.password-input{
  letter-spacing: -1px;
}

.username-email-input:focus,
.password-input:focus,
.signup-input:focus{
  box-shadow: 0px 0px 5px black;
}

.sign-in-button,
.sign-up-button{
  background-color: black;
  color: white;
  padding: 8px;
}

.switch-pages{
  font-family: monospace;
  font-size: 18px;
  font-weight: 600;
  word-spacing: -3px;
}

.switch-pages a{
  text-decoration: none;
  color: gray;
}

.switch-pages a:hover{
  text-decoration: underline;
}

.error{
  font-family: monospace;
  color: red;
}

.post-head{
  display: grid;
  grid-template-columns: 1fr 32px;
  padding-left: 4px
}

.delete-button{
  font-size: 24px;
  color: black;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}
.delete-button:active{
  font-size: 20px;
  padding-top: 2px;
}

.download-button{
  color: black;
  font-size: 24px;
  position: relative;
  top: -3px;
}
.download-button:active{
  font-size: 20px;
  top: -1px;
  left: 2px;
}

@media screen and (max-width: 500px) and (max-height: 800px){
  .posts-container{
    row-gap: 20px;
  }
  .grid-2{
    grid-template-rows: 28px 450px 36px;
    row-gap: 8px;
  }
  .grid-3{
    grid-template-rows: 28px 450px 36px fit-content;
    row-gap: 8px;
  }
  .grid-3-new-comment{
    grid-template-rows: 28px 450px 36px 36px;
    row-gap: 8px;
  }
  .post{
    grid-template-rows: 28px 450px 36px 36px fit-content;
    row-gap: 8px;
  }
  .post-image{
    width: 450px;
    height: 450px;
  }
  .posts-container{
    width: 450px;
  }
  .like-comment-area{
    grid-template-columns: 1fr 150px;
    padding: 0px 4px 0px 4px;
  }
  .likes-comments-counters{
    grid-template-columns: 28px auto 28px auto 1fr;
    column-gap: 8px;
  }
  .like-button,
  .comment-button{
    font-size: 28px;
  }
  .likes-count,
  .comments-count{
    font-size: 24px;
  }
  .download-button{
    font-size: 28px;
    top: 0px;
  }
  .download-button:active{
    font-size: 24px;
    top: 2px;
    left: 2px;
  }
  .new-comment-input{
    font-size: 20px;
  }
  .share-comment-button,
  .new-comment-button{
    font-size: 18px;
    height: 36px;
  }
  .add-new-comment{
    grid-template-columns: 330px 100px;
  }
  .publisher-username{
    font-size: 24px;
  }
  .delete-button{
    font-size: 28px;
  }
  .comment{
    font-size: 20px;
  }
}